section {
	width: 800px;
	margin: 100px auto;
	background-color: #24478f;
}
section h1,
section p {
	text-align: center;
	color: #ebf0fa;
}
section h1 {
	font: 32px 'Open Sans';
	font-weight: bold;
	color: #c2d1f0;
	text-shadow: 2px 2px #99b3e6;
}
section p {
	font: 16px 'Open Sans';
}
